{% extends "base.html" %}
{% load staticfiles %}


{% block head %}

<script type="text/javascript" src="/static/youtube/swfobject.js"></script>    

<style type='text/css'>
	.hide {
		display: none;
	}

	#videocontent {
		width: 450px;
		height: 375;
	}

	#playerjpgs {
		width: 400px;
	}
</style>

{% endblock %}

{% block content %}

<h1>View User Presentation {{ ppt.id }} / {{ ppt.filename }}</h1>

<table id='player'>
	<tr>
		<td id='playerjpgs'>
			{% for jpg in jpgs  %}
			<img src="{{ jpg.get_absolute_url }}" class='hide' width='425' />
			{% endfor %}
		</td>
		<td id='videocontent'>

			<div id="ytapiplayer">
				You need Flash player 8+ and JavaScript enabled to view this video.
			</div>

		</td>
	</tr>
</table>


<a id='nextplayer' class='hide' href="/exp2_turk/{{ppt.id}}/video2">Continue to questions</a>

 <script type="text/javascript">
 	// Hide elements that shouldnt' be shown.

 	/* Youtube embed code */
 	var ytplayer = false,
		params = { allowScriptAccess: "always" },
		atts = { id: "myytplayer" },
		lasttime = 0, i,
		transitions = [{{ transitions }}],
		jpgs = document.getElementById('playerjpgs').children;


	swfobject.embedSWF("http://www.youtube.com/v/{{ youtube }}?" + 
		"enablejsapi=1&playerapiid=ytplayer&version=3&" +
		"{% if not DEBUG %}controls=0{% endif %}&showinfo=0",
	                   "ytapiplayer", "425", "356", "8", null, null, params, atts);


	// Run once the youtube player finishes loading
	function onYouTubePlayerReady(playerId) {
    	ytplayer = document.getElementById("myytplayer");
    	document.getElementById('playvideo').className = '';
		document.getElementById('playerjpgs').className = "";
    }

	// Code to run every .1s to manage timing of slides.
	function refreshJpgs() {
		// don't run until after player is loaded or finished
		if(!ytplayer  ) { return; }

    	var now;

    	now = (typeof ytplayer.getCurrentTime === 'undefined') ? 999 : parseInt(ytplayer.getCurrentTime(), 10);
		
		if( now>lasttime) {
			lasttime = now;

			// Update which jpg is shown.
			for(i=0; i<=jpgs.length-1; i++) {
				if( transitions[i] <= now && now < transitions[i+1]) {
					jpgs[i].className='';
				} else {
					jpgs[i].className='hide';
				}
			}
		}


		// Should we continue?
		if(now>=transitions[transitions.length-2]) {
			document.getElementById('nextplayer').className='';
			document.getElementById('player').className='hide';
		}

	}
	window.setInterval(refreshJpgs, 100);

  </script>

{% endblock %}