{% extends "base.html" %}


{% block head %}

<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>



<script type="text/javascript">
// Using JQuery selectors to add onFocus and onBlur event handlers

$(document).ready( function() {

  // Add the "focus" value to class attribute
  $('ul.radio li').focusin( function() {
    $(this).addClass('focus');
  }
  );

  // Remove the "focus" value to class attribute
  $('ul.radio li').focusout( function() {
    $(this).removeClass('focus');
  }
  );

	// Remove selected option
	$("input[type='radio']").attr('checked',false).each(function(e){
		$this = $(this)
		if ($this.attr('value') == 0) {
			$this.attr('checked', true)
		}
	});
	
	//$(".radioNA").attr('checked',true)

	// Make li select value box.
	$("#ratingul > li > ul > li").mousedown(function(e){
		ck = $(this).find('input')
		ck.attr('checked', true);
	})

});

</script>

<style type="text/css">

img {
	width: 400px;
	border: solid 2px black;
	float: all;
	margin: 10px;
}

fieldset.radiogroup  {
  margin: 0;
  padding: 0;
  margin-bottom: 1.25em;
  padding: .125em;
}

#ratingform legend {
  margin: 0;
  padding: 0;
  font-weight: bold;
  margin-left: 20px;
  font-size: 100%;
  color: black;
}

#ratingform ul {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  list-style: none;
}

#ratingform > ul > li > ul > li {
  border: 1px transparent solid;
}

#ratingform > ul > li > ul> li:hover, #ratingform >ul > li> ul> li.focus  {
  background-color: lightyellow;
  border: 1px gray solid;
  width: 80%;
}

b {
	font-size: 145%;
}

#ratingul > li {
	width: 450px;
	background-color: lightgray;
	border: solid 1px black;
	margin: 5px;
	padding: 5px;
	float: left;
}

#ratingsubmit {
	padding: 10px;
	text-align: center;
	clear: both;
}
#ratingsubmit input {
	font-size: 150%;
}

  </style>


{% endblock %}

{% block content %}

<h1>Rate Presentation {{ ppt.pk }}</h1>


{% for jpg in jpgs  %}
<img src="{{ jpg }}" />
{% endfor %}


<form id='ratingform' action="rate" method="post">
	{% csrf_token %}
	<ul id='ratingul'>
	{{ form.as_ul }}
	</ul>
<div id='ratingsubmit'>
	<input  type="submit" value="Save Rating" />
</div>
</form>




{% endblock %}
