{% extends "base.html" %}


{% block head %}


<style type='text/css'>

	#slidelist {
		border: solid 1px black;
	}
	
	#slidelist tr td {
		padding: 5px;
	}

	.slidelist_td_left {
		vertical-align: text-top;
	}

	.slidelist_td_right {
		
	}
	
	.templateTrue {


	}

	.slidejpg {
		/*width: 500px;
		height: 400px;
		border: solid 2px red;*/
	}
	/*
	.jpg {
		width: 100%;
	}
	.scale {
		width: 400px;
	}
	.scale img {
		width: 100%;
	}
	*/

	.hide {
		display: None;
	}

	.slidepage {
		background-color: white;
		border: solid 2px black;
		position: relative;
	}

	.slidetext {
		border: solid 2px red;
		position:absolute;
	}

	.slideimage {
		border: solid 2px green;
		position:absolute;	
	}
</style>



{% endblock %}


{% block content %}
<h1>View Metadata for User {{ user.username }} Presentation {{ ppt.id }}</h1>


<b id='templateshow'>Show</b> or <b id='templatehide'>hide</b> template images.

<br/>

<table id='slidelist'>
{% for page in scaledPages %}

<tr>
	<td class='slidelist_td_left'>
		{% if page.jpg %}
		<b>{{ page.jpg.src }}, order= {{ page.order }}</b><br/>
		<a href="{{ page.page.get_absolute_url }}">
			<img src="{{ page.jpg.src }}" height="{{ page.jpg.height }}" width="{{ page.jpg.width}}" class='jpg'>
		</a>
		{% endif %}
	</td>
	<td class='slidelist_td_right'>
		<h2>{{ page.title }} ({{ page.title_FleschKincaidGradeLevel }})</h2>

		<b>Points ({{ page.text_FleschKincaidGradeLevel }})</b>
		<ul>
			{% for point in page.points %}
			<li>
				{{ point }} 
			</li>
			{% endfor %}
		</ul>


		<b>Text</b>
			<div class='slidepage' style="height:{{ page.jpg.height }}px; width:{{ page.jpg.width }}px">
			{% for text in page.texts %}
				<div class='slidetext' style="left:{{text.left}}px;top:{{text.top}}px;width:{{text.width}}px;height:{{text.height}}px">
					{{ text.text}}
				</div>
			{% endfor %}
			</div>
		</ul>


		<b>Images</b>
		<ul>
		{% for src in page.srcs %}
			<li class='template{{ src.template}}'>
				{{ src.src }}, {{ src.template }}
				<div class='slidepage' style="height:{{ page.jpg.height }}px; width:{{ page.jpg.width }}px">
				<img src="{{ src.src }}" class='slideimage'
					width="{{ src.width }}px" 
					height="{{ src.height }}px" 
					style="left:{{ src.left }}px;top:{{ src.top }}px;"
				/>
			</div>
			</li>
		{% endfor %}
		</ul>

		
	</td>
</tr>

{% endfor %}

</table>


<script type='text/javascript'>
// Add event handler to show/hide background elements.
var show = document.getElementById('templateshow'),
	hide = document.getElementById('templatehide');

show.onclick = function(){
	var templates, i;
	templates = document.getElementsByClassName('templateTrue');
		
	for (i in templates) {
		templates[i].className = 'templateTrue';
	}
};

hide.onclick = function(){
	var templates, i;
	templates = document.getElementsByClassName('templateTrue');

	for (i in templates) {
		templates[i].className = 'templateTrue hide';
	}
};
hide.onclick();
</script>



{% endblock %}
